@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url(/assets/img/anthony-espinosa-ujxdhcpAQxk-unsplash.jpg); 
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
}

header {
  padding: 32px 16px;
}

form {
  width: 50%;
  margin: auto;
  margin-bottom: 48px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 10px;
}

.form-group {
  margin: 24px 0;
}
label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.form-group input {
  width: 100%;
  margin-top: 8px;
  padding: 10px 16px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: none;
}

.input-radio {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  font-size: 14px;
}
